/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font: 16px/1.5 sans-serif;
	margin: 0;
}

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.grid {
	height: 100vh; /* nastavíme výšku gridu přes celou stránku */
}





.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 1fr 50px;

	grid-template-areas: 
	"header header header header header header"
	"article article article article aside nav"
	"footer footer footer footer footer footer"
   }



header	{grid-area: header;}
article{grid-area: article;}
nav	{grid-area: nav;}
aside	{grid-area: aside;}
footer	{grid-area: footer;}



