/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */

/* mužeme pojmenova linie (1 2 3 4 -1 - 2 -3 -4 

*/

.kontejner {
	display: grid;
	grid-template-columns: [page-start] 150px [main-start] 1fr [main-end] 150pm [page-end];

	grid-template-rows: [page-start] 200px auto 100px [page-end];
}

.hlavicka {grid-column: page;
}

.paticka {
	grid-column: page-start / page-end;
}