/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */
ul {list-style-type: none;
}


li {
    display: flex;
    align-items: center;
    justify-content: center;
	border: solid 1px grey;
}

.kalendar {display: grid;
	gap: 5px;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 50px 50px 50px 50px 50px 50px;
}
.predchozi {
	background: grey;
	color: darkgrey;
}


.kalendar li:nth-child(-n+7) {
	color: white;
    background-color: red;
}

li:nth-last-child(-n+3)  {
	background: grey;
	color: darkgrey;
}
