/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */
ul {list-style-type: none;
	padding: 0;
}


li {
    display: flex;
    align-items: center;
    justify-content: center;
	border: solid 1px grey;
}

.kalendar {display: grid;
	gap: 2px;
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px;
	grid-auto-rows:  50px;
}


.kalendar li:nth-child(-n+7) {
	border: solid 1px white;
	color: white;
    background-color: red;
}

.predchozi, li:nth-last-child(-n+3)  {border: solid 1px white;
	background: grey;
	color: darkgrey;
}
